protocols/manifest.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT manifest ( title, abstract, specnum, specurl, status, publisher, namespace+ ) >
<!ELEMENT title (#PCDATA)* >
<!ELEMENT abstract (#PCDATA)* >
<!ELEMENT specnum (#PCDATA)* >
<!ELEMENT specurl (#PCDATA)* >
<!ELEMENT status (#PCDATA)* >
<!ELEMENT publisher (#PCDATA)* >
<!ELEMENT namespace ( name, schema? ) >
