protocols/manifest.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT manifest ( shortname, longname, specnum, specurl, status, publisher, namespace+ ) >
<!ELEMENT shortname (#PCDATA)* >
<!ELEMENT longname (#PCDATA)* >
<!ELEMENT specnum (#PCDATA)* >
<!ELEMENT specurl (#PCDATA)* >
<!ELEMENT status (#PCDATA)* >
<!ELEMENT publisher (#PCDATA)* >
<!ELEMENT namespace ( name, schema? ) >
